.unit {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 12px var(--shadow-color);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.unit:hover {
  transform: translateY(-8px);
}

.ligado {
  background-color: var(--status-ligado);
}

.desligado {
  background-color: var(--status-desligado);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--highlight-color);
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--second-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: rotate(90deg);
  color: var(--primary-color);
}

.status {
  font-weight: bold;
}

.status.ligado {
  color: var(--primary-color);
}

.status.desligado {
  color: var(--second-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--second-color);
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

/* Tablet */
@media (min-width: 600px) {
  .unit {
    width: calc(50% - 10px);
  }
}

/* Desktop */
@media (min-width: 900px) {
  .unit {
    width: calc(33.333% - 20px);
  }
}
