/* ========================
   VARIÁVEIS DE TEMA GLOBAL
======================== */
:root {
  --primary-color: #28a745; /* Verde */
  --second-color: #005cc8;  /* Laranja */
  --text-color: white;
  --background-color: #f9f9f9;
  --status-ligado: #d4f8e8;
  --status-desligado: #f8d4d4;
  --form-background: #ffffff;
  --font-color: #333;
  --highlight-color: #555;
  --border-color: #ddd;
  --row-even-bg: #f9f9f9;
  --row-odd-bg: #ffffff;
  --row-hover-bg: #f1f1f1;
  --link-color: #ffeb3b;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
}

body.dark-mode {
  --primary-color: #1e1e1e;
  --second-color: #005cc8;
  --text-color: #f9f9f9;
  --background-color: #121212;
  --status-ligado: #28a745;
  --status-desligado: #e27b7b;
  --form-background: #1c1c1c;
  --font-color: #e0e0e0;
  --highlight-color: #b0b0b0;
  --border-color: #3d3d3d;
  --row-even-bg: #2a2a2a;
  --row-odd-bg: #1f1f1f;
  --row-hover-bg: #333333;
  --link-color: #ff9800;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --shadow-dark: rgba(255, 255, 255, 0.2);
}

/* ========================
   RESET E BASE
======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Estilo para ícones SVG do botão de tema */
.icon {
  width: 24px;
  height: 24px;
  color: var(--font-color);
  transition: color 0.3s ease;
}
